@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Tu ju kqyr juve qatA hina gabim";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger"> :D :D :D :D</p>
</header>
